* {
  transition: height 150ms, margin-left 90ms, width 100ms;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Canaro";
  src: url("../assets/fonts/Canaro-Black.woff") format("woff"),
    url("../assets/fonts/Canaro-Black.ttf") format("ttf");
}
.navbar {
  height: 120px;
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(26px);
}
.navbar-dark li a,
.navbar-dark li.toggler {
  color: #000 !important;
}
.navbar-dark li i:not(.fa-search) {
  -webkit-text-stroke: 2px #000 !important;
}

.navbar-dark .navbar-brand {
  color: #000 !important;
}
.collapse.navbar-collapse {
  justify-content: center;
}
.navbar-nav.nav-icons li {
  padding: 10px;
  cursor: pointer;
  font-size: 17px;
}

.wrapper-bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
}
.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav.nav-icons li i:not(.fa-search) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.navbar a {
  font-family: "Poppins";
  color: #fff;
}
.hidden-nav {
  z-index: 9999;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}
ul li {
  user-select: none;
}
.hidden-nav .container {
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(26px);
  padding: 15px;
}

.hidden-nav .container a {
  color: #fff;
  font-family: Poppins;
  transition: 200ms;
}
.hidden-nav li:hover a {
  margin-left: 6px;
}
.navbar-logo img {
  width: 25px;
}
.title.text {
  font-size: 50px;
  font-family: poppins;
  margin-bottom: 100px;
  color: #fff;
  font-weight: 400;
}
.main.wrapper {
  width: 100%;
  height: calc(100vh - 130px);
  padding-top: 20px;
}

.default-card {
  padding: 30px 0 45px 40px;
  border-radius: 20px;
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(20px);
  height: 400px;
  position: relative;
  color: #fff;
  font-family: poppins;
}
.default-card .title {
  font-size: 50px;
  margin-bottom: 20px;
}
.default-card .desc {
  font-weight: 500;
  width: 44%;
  margin-bottom: 40px;
}
.custom-btn {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  position: relative;
  color: #fff;
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(40px);
  transform: translateZ(20px);
}
.custom-btn span {
  z-index: 4;
}
.show-md {
  display: none;
  color: #fff;
}
.custom-btn::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f27d1d;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}
.default-card .img {
  position: absolute;
  width: 350px;
  top: -50px;
  left: 290px;
}
.default-card img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin-left: 0;
  }
  .navbar-nav.nav-icons {
    /* display: flex !important; */
    flex-direction: row;
  }
  .title.text {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .default-card {
    height: 330px;
    padding: 25px 0 30px 30px !important;
  }
  .default-card:not(.last) {
    margin-bottom: 15px;
  }
  .default-card .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .navbar {
    height: 100px !important;
  }
}
/* @media screen and (max-width: 990px) and (min-width: 766px) {
  .default-card .img {
    width: 270px;
    top: -18px;
    left: 58% !important;
  }
} */
@media screen and (max-width: 991px) {
  .no-md {
    display: none;
  }
  .show-md {
    display: list-item;
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  .navbar {
    height: 70px !important;
  }
  .hidden-nav {
    top: 70px !important;
  }
  .default-card {
    height: 300px;
    padding: 10px 20px !important;
  }
  .default-card:not(.last) {
    margin-bottom: 30px;
  }
  .defauly-card .img {
    border: 1px solid red;
    width: 200px;
    left: 0 !important;
    display: none;
  }
  .default-card .desc {
    font-size: 12px;
    font-weight: 400;
    width: 50%;
  }
  .form {
    border-radius: 10px !important;
    padding: 25px !important;
    font-weight: 500 !important;
  }
  .form .title {
    font-size: 26px !important;
  }
  .form::after {
    display: none;
  }
  .form {
    margin-top: 100px !important;
  }
  .form::before {
    content: attr(word);
    font-size: 30px;
    position: absolute;
    inset: -100px 0;
    width: 0;
    height: 0;
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  .defauly-card .img {
    border: 1px solid red;
    width: 200px;
    left: 0px;
  }
  .default-card .desc {
    font-size: 10px;
    font-weight: 400;
    width: 50%;
  }
  .nav-icons i {
    font-size: 15px;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .df {
    align-items: flex-start !important;
  }
  .form {
    margin-top: 100px;
  }
  .book-card {
    margin-bottom: 30px;
  }
}

.df {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form::after {
  content: attr(word);
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  inset: 0 -350px;
  position: absolute;
  border: 1px solid red;
  width: 0;
  height: 0;
}
.form {
  width: 580px;
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(27px);
  padding: 50px 70px;
  font-family: Poppins, serif;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}
.form .title {
  width: 100%;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}
.form .input-group p {
  font-size: 15px;
  color: #fff;
  text-align: left;
  font-weight: 400;
}
.form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.input-group input,
.input-group select {
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.829);
  background: transparent;
  color: #fff;
  caret-color: #fff;
}
.input-group select:not(:last-child) {
  margin-bottom: 20px;
}
.input-group select option {
  color: #151515;
}
.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-group input:not(:last-child) {
  margin-bottom: 20px;
}
input:focus,
button:focus,
a:focus {
  outline: none;
}
.form .custom-btn:hover {
  color: #fff;
}
.group {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.details {
  text-align: center;
  color: #fff;
  width: 100%;
}
.form .input-group input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.custom-btn.secondary {
  padding: 15px 60px;
  background: #f27d1d;
}
.custom-btn.secondary span {
  z-index: 10;
}

.custom-btn.secondary::after {
  display: none;
}
.custom-btn.secondary::before {
  content: "";
  z-index: -10;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(
    103.17deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 76.68%
  );
  backdrop-filter: blur(40px);
  top: 0;
}

.form .profile-img {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
}
.profile-img .img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img img {
  width: 100%;
  height: 100%;
}
.profile-name {
  width: 100%;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.profile-full {
  width: 100%;
  margin-bottom: 30px;
}
.profile-full .item {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.profile-upload {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.profile-upload span {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
div.form .group {
  margin-bottom: 0 !important;
}

.book-card {
  color: #000;
  font-family: poppins, serif;
  height: 450px;
}

.dark.main .row .col-xl-3 {
  padding: 15px;
}
.book-card .book-img {
  width: 100%;
  height: 65%;
  overflow: hidden;
  margin-bottom: 15px;
}
.book-card .book-img img {
  width: 100%;
  height: 100%;
}

.book-card .desc {
  width: 100%;
}
.book-card .desc .bold {
  font-weight: bold;
}
.book-card .book-date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
footer {
  margin-top: 100px;
  font-family: poppins, serif;
  padding: 10px 0;
  text-align: left !important;
}
footer .container .row {
  border-bottom: 2px solid #d9d9d9;
}
/* footer .container::after {
  content: "";
  width: 91%;
  position: absolute;
  top: 100%;
  left: 40px;
} */

footer .search-bar {
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
}
footer .row > div {
  text-align: left;
}
